.main--center {
    margin-top: 5vh;
    margin-left: 5vw;
  
  }
  
  .main--c--parth {
    /* position: absolute;   */
    font-weight: 850;
    font-size: 4.3cm;
  
  }
  
  .main--c--shirawala {
    font-size: 3.5cm;
    font-weight: 850;
  }
  
  .main--quote {
    /* position: absolute; */
    margin-left: 5vw;
    margin-top: 5vh;
    font-size: .75cm;
  }